# Dependency directories
vendor/
tmp/
venv/

# User tools dirs
.*.swp
.DS_Store
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log

# User secrets
users*.json

# Temp data
OLD/
run-*/
